.vs
*.mp3
*.opus
*.json
DevOps Project Webscraper Tibbo Van Leemput/bin/Debug/net6.0/Downloads
DevOps Project Webscraper Tibbo Van Leemput/bin/Debug/net6.0/Downloads/*
DevOps Project Webscraper Tibbo Van Leemput/bin/Debug/net6.0/Json
DevOps Project Webscraper Tibbo Van Leemput/bin/Debug/net6.0/Json/*
